@model Foodies.ViewModels.EditMealViewModel

@{
    ViewData["Title"] = "Edit Meal";
}

<div id="headerMain" class="py-5 bg-image-full">
    <h1 class="text-center">Edit meal</h1>
    <p class="text-center"><strong>Happy Editing</strong></p>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meal.MealId"/>
            <input type="hidden" asp-for="Meal.PictureMeal"/>
            <div class="form-group">
                <label asp-for="Meal.Name" class="control-label"></label>
                <input asp-for="Meal.Name" class="form-control" />
                <span asp-validation-for="Meal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.ShortDiscription" class="control-label"></label>
                <input asp-for="Meal.ShortDiscription" class="form-control" />
                <span asp-validation-for="Meal.ShortDiscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.PreperationDiscribtion" class="control-label"></label>
                <input asp-for="Meal.PreperationDiscribtion" class="form-control" />
                <span asp-validation-for="Meal.PreperationDiscribtion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.NumberOfPeople" class="control-label"></label>
                <input asp-for="Meal.NumberOfPeople" class="form-control" />
                <span asp-validation-for="Meal.NumberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.LevelPreperationId" class="control-label"></label>
                <select asp-for="Meal.LevelPreperationId" class="form-control" asp-items="Model.LevelPreperations"></select>
            </div>
            <div class="form-group">
                <label asp-for="Meal.PreperationTimeId" class="control-label"></label>
                <select asp-for="Meal.PreperationTimeId" class="form-control" asp-items="Model.PreperationTimes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="SelectedCategories" class="form-control" asp-items="Model.Category"></select>
                <label asp-for="ErrorMessage" class="alert-warning" />
            </div>
            <div class="form-group">
                <label asp-for="MealImage" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="MealImage" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">Choose File</label>
                </div>
                <label style="color: red">Only change this if you want a different meal picture!</label>
                <span asp-validation-for="MealImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
