@model Foodies.Models.Unit

@{
    ViewData["Title"] = "Delete";
}

<div id="headerMain" class="py-5 bg-image-full">
    <h1 class="text-center">Delete A Level Of Preperation</h1>
    <p class="text-center"><strong>It will be missed</strong></p>
</div>
<div class="card col-3 mt-4">
    <p class="h4 mt-2">Unit</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<form asp-action="Delete" class="mt-4">
    <input type="hidden" asp-for="UnitId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</form>
