
<div id="headerError" class="py-5 bg-image-full">
    <h1 class="text-center">We couldn't find what you are looking for!</h1>
    <p class="text-center"><strong>Follow the bytes</strong></p>
</div>

