<div class="text-center">
    <div id="headerMain" class=" py-5 bg-image-full">
        <h1 class="text-center">All About Foodies</h1>
        <p class="text-center">Happy Reading</p>
    </div>
</div>
<div class="card mt-5">
    <h2 class="m-3 p-1 text-center">To eat healthy or not</h2>
    <div class="row m-3 p-1">
        <div class="col-4">
            <img src="~/assets/pictureLieven.jpg" alt="creator" class="avatar2">
        </div>
        <div class="col-8">
            <h3>Where it all started</h3>
            <p>
                This website is created because of an assignment from school. <br />
                We had to create a webside in .net core with a topic of choice. Because of corona was going on at the time, the producer of
                this website was getting fat.<br /> He needed a way to find and create healthy foods to eat. There is no better way than to create a
                website of their own where you can gather all the meals and how to coock them.
            </p>
        </div>
    </div>
</div>




